<template name="allUsers">
	<article class="user-list">
		<h1>All Users: usernames</h1>
		<ul>
			{{#each Users}}
			<li><a href="{{ pathFor 'profile' }}">{{username}}</a>
				<a href="#" data-follow-id="{{_id}}" class="follow">Follow</a></li>
			{{/each}}
		</ul>
	</article>
</template>