<template name="following">
	<article class="user-list">
		<h1>{{userId}} Following</h1>
		<ul>
			{{#each follows }}
			<li>
				<a href="{{ pathFor 'profile' }}">{{username}}</a>
				<a href="#" data-following-id="{{_id}}" class="unfollow">Unfollow</a>
			</li>
			{{/each}}
		</ul>
	</article>
</template>