<template name="followers">
	<article class="user-list">
		<h1>{{userId}} Followers</h1>
		<ul>
			{{#each followers }}
			<li><a href="{{ pathFor 'profile' }}">{{username}}</a></li>
			{{/each}}
		</ul>
	</article>
</template>