<template name="layout">
  <div class="container">

	  <header>
	  	{{> login}}
	  	<nav class="main-nav">
	  		<a href="#" class="show-menu" id="show-menu"></a>
	  		<ul class="nav-list">
	  			<li><a href="/">Home</a></li>
	  			<li><a href="/all-users">All Users</a></li>
	  			<li><a href="{{ pathFor 'search' }}">Search</a></li>
	  			<li><a href="{{ pathFor 'admin' }}">Admin</a></li>
	  		</ul>
	  	</nav>
	  </header>

	{{yield}}
  </div>
</template>