<template name="login">
	<section class="login">
		<section class="logged-in-status">
			<a href="" id="logged-in"></a> <a href="#" id="log-out">Log out</a>
		</section>
		<form id="login-form" class="login-form" action="action">
			<div class="form-row">
				<span class="error-message" id="error-message"></span>
			</div>
			<div class="form-row">
				<label for="email">Email</label>
				<input type="email" id="login-email" name="email"/>
			</div>
			<div class="form-row">
				<label for="password">Password</label>
				<input type="password" id="login-password" name="password"/>
			<div class="form-row">
				<button id="login-button" class="login-button" >Login</button>
			</div>
			<div class="form-row">
				<label for="username">Username</label>
				<input type="text" id="login-username" name="username"/>
			</div>
			<div class="form-row">
				<input type="submit" id="register-button" class="button" value="Register" />
			</div>
		</form> 
	</section>
</template>