<template name="profile">
	<article>
		<h1>Profile</h1>
		<ul>
			<li>{{username}}</li>

			{{#each emails}}
			<li>{{address}}</li>
			{{/each}}

		</ul>
	</article>
	<a href="{{ pathFor 'following' }}">Following</a>
	<a href="{{ pathFor 'followers' }}">Followers</a>
</template>