<template name="search">
	<aside class="search-locations">
		Search
		<form name="search-locations">
			<input type="text" name="search" placeholder="Pub or Location"/>
			<button>Search</button>
		</form>
		<section class="search-results">
			<ul>
			{{#each searchResult}}
				<li>Pub name | Rating</li>
			{{/each}}
			</ul>
		</section>
	</aside>

	<div class="touch-scroll"></div>

	<main>
		<article>
			<div id="map-canvas"/>
		</article>
	</main>

</template>