* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #333333;
  text-decoration: none;
  background-color: orange;
  padding: .5em .75em; }

input {
  padding: .5em;
  width: 100%;
  max-width: 100%;
  margin: .5em 0; }

button,
.button {
  padding: .5em;
  width: 100%;
  margin: .5em 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul li {
    display: block; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333333;
  font-size: 16px; }

.container,
main {
  height: 100%; }

main {
  padding: 1em; }

#map-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

header {
  position: relative;
  z-index: 10; }

.main-nav .nav-list li {
  margin-bottom: .5em; }
  .main-nav .nav-list li:last-child {
    margin-bottom: 0; }
  .main-nav .nav-list li a {
    display: block; }

.show-menu {
  width: 2.5em;
  height: 2.5em;
  background-color: #fff;
  color: #333333;
  margin: auto;
  position: relative;
  display: block;
  border-radius: 100%;
  background-color: #333333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  .show-menu:after {
    content: '';
    height: 1em;
    width: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.75em;
    margin-top: -.75em;
    display: block;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff; }

.main-nav,
.login {
  display: block;
  background-color: #fff;
  padding: 1em; }

.main-nav .show-menu {
  display: block; }
.main-nav .nav-list {
  display: none; }
.main-nav.menu-active .show-menu {
  display: none; }
.main-nav.menu-active .nav-list {
  display: block; }

@media screen and (min-width: 500px) {
  .main-nav .show-menu {
    display: none; }
  .main-nav .nav-list {
    display: block; }

  .nav-list li {
    display: inline-block; } }
.login {
  width: 100%;
  position: relative; }

.login .logged-in-status {
  display: none; }
.login .login-form {
  display: block; }
.login[data-status="is-logged-in"] .logged-in-status {
  display: block; }
.login[data-status="is-logged-in"] .login-form {
  display: none; }

.logged-in-status {
  text-align: right; }
  .logged-in-status a {
    display: inline-block; }

@media screen and (min-width: 600px) {
  .login {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px; } }
.person {
  width: 4em;
  height: 4em;
  background-color: darkorange;
  border-radius: 100%;
  position: relative; }
  .person span {
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    width: 100%; }

.user-list {
  max-width: 700px;
  margin: auto; }
  .user-list a {
    display: inline-block; }

.search-locations {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  padding: 1em; }
