<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width" initial-width="1">
	<title>pubrater</title>	    
	<script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVhDVTVuptejCpguvMItGirpgKcepqSd0&sensor=false">
	</script>
</head>
<body>
</body>